$color-red: #bb5649;
$color-black: #333333;
$color-grey: #e6e6e6;

html {
  border-top: 3px solid $color-red;
  font-family: serif;
  color: $color-black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 768px;
  min-height: calc(100dvh - 3px);
}

header {
  font-size: 24px;
  padding: 35px;
  border-bottom: 1px solid $color-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    font-size: 20px;
    display: flex;
    gap: 20px;
  }
}

main {
  margin: 35px 0;
  line-height: 1.6;
}

footer {
  padding: 35px;
  border-top: 1px solid $color-grey;
}

a {
  color: $color-red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 390px) {
  footer {
    font-size: 0.78em
  }
}

@media (max-width: 580px) {
  header {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 838px) {
  main {
    padding: 0 35px;
  }

  body {
    max-width: unset;    
  }
}
