{{> doc.html }}
{{> head.html }}

<body>
    <div>
        {{> nav.html }}
        <main>
            <picture>
                <source srcset="images/fares-widescreen-photograph.jpg" media="(max-width: 838px)">
                <img class="main-photo" width=220 height=220
                    alt="Photograph of Fares in front of Cairo University's Dome"
                    src="images/fares-square-photograph.jpg" />
            </picture>
            {{{ content }}}
            <p>Check out my <a class="link-blank link-onsite" href="/writings">writings</a>.</p>
            <p>Personal system:
                <a rel="nofollow noreferrer" href="https://voidlinux.org/">Void Linux</a>,
                <a rel="nofollow noreferrer" href="https://i3wm.org/">i3wm</a>,
                <a rel="nofollow noreferrer" href="https://alacritty.org/">Alacritty</a>,
                <a rel="nofollow noreferrer" href="https://helix-editor.com/">Helix</a>.
            </p>
        </main>
    </div>
    {{> footer.html }}
</body>

{{> enddoc.html }}