<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Fares' $HOME on the internet.">
  <title>Fares A. Bakhit</title>
  <style>
    $stylesheet
  </style>
</head>

<body>
  <div>
    <header>
      <nav>
        <div>
          <a class="link-onsite" href="/">Fares A. Bakhit</a>
          <p style="
            color: #757575;
            font-size: 1rem;
            font-style: italic;
            margin: 0;
          ">CS Student at Cairo University</p>
        </div>
        <ul>
          <li><a class="link-blank link-onsite" href="/writings">Writings</a></li>
          <li><a class="link-blank link-onsite" href="/projects">Projects</a></li>
          <li><a class="link-blank link-onsite" href="/resume">Resume</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <picture>
        <source srcset="images/fares-photo-widescreen.jpg" media="(max-width: 838px)">
        <img class="main-photo" width=220 height=220 alt="Photograph of Fares in front of Cairo University's Dome"
          src="images/fares-photo-square.jpg" />
      </picture>
      <p>I'm studying at the Faculty of Computers and Artificial Intelligence, Cairo University for a bachelor's degree
        in Computer Science.</p>
      <p>Have been activly, and passionately learning Software Engineering, and still, since the age of 14. And
        throughout the years contributed to the open-source community many times.</p>
      <p>Check out my <a class="link-blank link-onsite" href="/writings">writings</a>.</p>
      <p>Personal system:
        <a rel="nofollow noreferrer" href="https://voidlinux.org/">Void Linux</a>,
        <a rel="nofollow noreferrer" href="https://i3wm.org/">i3wm</a>,
        <a rel="nofollow noreferrer" href="https://alacritty.org/">Alacritty</a>,
        <a rel="nofollow noreferrer" href="https://helix-editor.com/">Helix</a>.
      </p>
    </main>
  </div>
  <footer>
    Copyright (c) 2023 Fares A. Bakhit<br>
    Email:
    <code>faresa.bakhit [at] gmail [dot] com</code><br>
    Profiles:
    <a rel="nofollow noreferrer" href="https://github.com/faresbakhit">GitHub</a>,
    <a rel="nofollow noreferrer" href="https://linkedin.com/in/faresahmed">LinkedIn</a>
  </footer>
</body>

</html>