<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Fares Ahmed Bakhit">
  <meta name="description" content="Fares' $HOME on the internet">
  <title>Fares A. Bakhit{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<header>
  <a href="/">Fares A. Bakhit</a>
  <nav>
    <a href="/tags.html">Tags</a>
    <a href="/resume.html">Resume</a>
    <a href="/about.html">About</a>
  </nav>
</header>

<main>{% block content %}{{ page.content | safe }}{% endblock %}</main>

</body>
</html>