:root {
    --color-text: #333333;
    --color-highlight: #BF4D36;
    --color-breakings: #E6E6E6;
    --max-width: 768px;
    --content-border: 1px solid var(--color-breakings);
}

:root {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    color: var(--color-text);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
    border-top: 3px solid var(--color-highlight);
    height: 100%;
    overflow-y: scroll;
}

::selection {
    background: var(--color-highlight);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

header {
    border-bottom: var(--content-border);
}

nav {
    max-width: var(--max-width);
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 35px;
    display: flex;
    justify-content: space-between;
}

nav .subtitle {
    color: #757575;
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    font-size: 85%;
    list-style: none;
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    max-width: var(--max-width);
    margin: 35px auto;
    line-height: 1.5;
}

.main-photo {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
    height: unset;
}

.footer-container {
    border-top: var(--content-border);
}

footer {
    max-width: var(--max-width);
    margin: 0 auto;
    font-size: min(1em, 3vw);
    padding: 35px 0;
    line-height: 1.5;
}

:any-link {
    color: var(--color-highlight);
    font-style: italic;
    text-decoration-line: none;
    text-decoration-style: wavy;
}

:any-link:hover,
:any-link:focus {
    text-decoration-line: underline;
}

:any-link.link-onsite {
    font-style: normal;
    text-decoration-style: solid;
}

:any-link:hover.link-blank,
:any-link:focus.link-blank {
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

@media (max-width: 638px) {
    nav {
        flex-direction: column;
        gap: 12px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 838px) {
    body {
        max-width: unset;
    }

    main {
        padding: 0 35px;
    }

    .main-photo {
        display: block;
        float: unset;
        margin: auto;
        width: unset;
        min-height: 220px;
        object-fit: cover;
    }

    footer {
        padding: 35px;
    }
}

.katex-display {
    font-size: min(1em, 3.4vw);
}
